<%= render partial: 'shared/photo_album_nav', locals: {action_param: params[:action]} %>
<div class="wrapper-feeds-album row mt-4">
  <div class="wrapper-feeds-album row mt-4">
    <% @albums.each do |album| %>
      <div class="col-md-6 feed-photo">
        <div class="card">
          <div class="row">
            <div class="col album-images">
              <% album.pictures.each do |picture| %>
                <%= image_tag "#{picture.picture_url}" %>
              <% end %>
            </div>
            <div class="col">
              <div class="p-0 d-flex flex-column">
                <div class="card-body p-2">
                  <div class="d-flex justify-content-between">
                    <div class="card-info">
                      <div class="card-info__avatar">
                        <%= link_to  do %>
                          <%= image_tag "#{album.user.avatar.picture_url}" , class: 'img-fluid avatar rounded-circle', alt: "avatar" %>
                        <% end %>
                      </div>
                      <div class="card-info__name">
                        <a href="#"><%= album.user.short_name %></a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center h-100">
                      <% if current_user.following?(album.user) %>
                        <%= link_to 'Folowing', relationships_path(user_id: album.user_id), method: :delete  %>
                      <% else %>
                        <%= link_to 'Follow', relationships_path(user_id: album.user_id), method: :post %>
                      <% end %>
                    </div>
                  </div>
                  <div class="card-title">
                    <h5><%= album.title%></h5>
                  </div>
                  <div class="card-text">
                    <p><%= album.description%></p>
                  </div>
                </div>
                <div class="card-footer__react__time p-2">
                  <div class="like-count">
                    <i class="fas fa-heart"></i>
                    <p>123</p>
                  </div>
                  <div class="date-time">
                    <p><%= album.updated_at%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
        $('.profile-albums .albums .photo-image').each(function() {
        let $this = $(this)
        $this.children("img").each(function(index) {
            if (index > 5) return
            // console.log(`rotate(${index*20}deg)`)
            if (index == 0) {
                $(this).css('z-index','100')
            }
            if (index != 0)
                $(this).css('transform' ,`rotate(${index*3}deg)`)
            // console.log(this)
        })

    })
</script>
